<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Sessions </h5>
            </div>
            <div class="ibox-content">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Beings</th>
                        <th>Public</th>
                                                <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <% @sessions.each do |session| %>
                        <tr>
                            <td><%= session.name %></td>
                            <td><%= session.beings %></td>
                            <td><%= session.public %></td>
                                                        <td>
                                <div class="btn-group">
                                    <%= link_to session, class: 'btn btn-sm btn-outline dim btn-primary' do %>
                                        <i class="fa fa-search"></i>
                                    <% end %>
                                    <%= link_to edit_session_path(session), class: 'btn btn-sm btn-outline dim btn-info' do %>
                                        <i class="fa fa-edit"></i>
                                    <% end %>
                                    <%= link_to session, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline dim btn-danger' do %>
                                        <i class="fa fa-trash-o"></i>
                                    <% end %>
                                </div>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <hr>
                <div class="btn">
                    <%= link_to new_session_path, class: 'btn btn-sm btn-outline dim btn-primary' do %>
                        <i class="fa fa-plus"></i> New Session
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>