<%= bootstrap_form_for( @child, layout: :horizontal ) do |form| %>
  <% if child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
                <%= form.text_field :first_name, id: :child_first_name %>
            </div>

    <div class="field">
                <%= form.text_field :last_name, id: :child_last_name %>
            </div>

    <div class="field">
                <%= form.text_field :identifier, id: :child_identifier %>
            </div>

    <div class="field">
                <%= form.text_field :country, id: :child_country %>
            </div>

    <div class="field">
                <%= form.date_select :birthday, id: :child_birthday %>
            </div>

    <div class="field">
                <%= form.text_field :gender, id: :child_gender %>
            </div>

    <div class="field">
                <%= form.text_area :description, id: :child_description %>
            </div>

    <div class="field">
                <%= form.text_area :sibling_notes, id: :child_sibling_notes %>
            </div>

    <div class="field">
                <%= form.text_field :orphanage, id: :child_orphanage %>
            </div>

    <div class="field">
                <%= form.text_area :legal_status, id: :child_legal_status %>
            </div>

    <div class="btn">
        <%= form.submit class: 'btn btn-sm btn-outline dim btn-success' do %>
            <i class="fa fa-chevron-left"></i> Submit
        <% end %>
    </div>
<% end %>
