<%= bootstrap_form_for( @spot_status, layout: :horizontal ) do |form| %>
  <% if spot_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spot_status.errors.count, "error") %> prohibited this spot_status from being saved:</h2>

      <ul>
      <% spot_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
                <%= form.text_field :name, id: :spot_status_name %>
            </div>

    <div class="field">
                <%= form.text_field :color, id: :spot_status_color %>
            </div>

    <div class="btn">
        <%= form.submit class: 'btn btn-sm btn-outline dim btn-success' do %>
            <i class="fa fa-chevron-left"></i> Submit
        <% end %>
    </div>
<% end %>
