<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Session Spots </h5>
            </div>
            <div class="ibox-content">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Child</th>
                        <th>Hosting session</th>
                        <th>Status</th>
                        <th>Scholarship</th>
                        <th>Row order</th>
                        <th>Public notes</th>
                        <th>Private notes</th>
                                                <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <% @session_spots.each do |session_spot| %>
                        <tr>
                            <td><%= session_spot.child_id %></td>
                            <td><%= session_spot.hosting_session_id %></td>
                            <td><%= session_spot.status_id %></td>
                            <td><%= session_spot.scholarship %></td>
                            <td><%= session_spot.row_order %></td>
                            <td><%= session_spot.public_notes %></td>
                            <td><%= session_spot.private_notes %></td>
                                                        <td>
                                <div class="btn-group">
                                    <%= link_to session_spot, class: 'btn btn-sm btn-outline dim btn-primary' do %>
                                        <i class="fa fa-search"></i>
                                    <% end %>
                                    <%= link_to edit_session_spot_path(session_spot), class: 'btn btn-sm btn-outline dim btn-info' do %>
                                        <i class="fa fa-edit"></i>
                                    <% end %>
                                    <%= link_to session_spot, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline dim btn-danger' do %>
                                        <i class="fa fa-trash-o"></i>
                                    <% end %>
                                </div>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <hr>
                <div class="btn">
                    <%= link_to new_session_spot_path, class: 'btn btn-sm btn-outline dim btn-primary' do %>
                        <i class="fa fa-plus"></i> New Session Spot
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>