<%= bootstrap_form_for( @hosting_session_spot_child, layout: :horizontal ) do |form| %>
  <% if hosting_session_spot_child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hosting_session_spot_child.errors.count, "error") %> prohibited this hosting_session_spot_child from being saved:</h2>

      <ul>
      <% hosting_session_spot_child.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
                <%= form.number_field :child_id, id: :hosting_session_spot_child_child_id %>
            </div>

    <div class="field">
                <%= form.number_field :hosting_session_spot_id, id: :hosting_session_spot_child_hosting_session_spot_id %>
            </div>

    <div class="btn">
        <%= form.submit class: 'btn btn-sm btn-outline dim btn-success' do %>
            <i class="fa fa-chevron-left"></i> Submit
        <% end %>
    </div>
<% end %>
