<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Hosting Sessions ID #<%= @hosting_session.id %></h5>
            </div>
            <div class="ibox-content">
                                <p>
                    <strong>Name:</strong>
                    <%= @hosting_session.name %>
                </p>

                                <p>
                    <strong>Date:</strong>
                    <%= @hosting_session.date %>
                </p>

                                <p>
                    <strong>Public:</strong>
                    <%= @hosting_session.public %>
                </p>

                                
                <hr>
                <div class="btn">
                    <%= link_to hosting_sessions_path, class: 'btn btn-sm btn-outline dim btn-primary' do %>
                        <i class="fa fa-chevron-left"></i> Back
                    <% end %>
                    <%= link_to edit_hosting_session_path(@hosting_session), class: 'btn btn-sm btn-outline dim btn-primary' do %>
                        <i class="fa fa-edit"></i> Edit Hosting Session
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>