<% content_for :page_title, 'Winter 2018' %>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1>Winter 2018 Hosting</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Filters (as checkboxes)</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3 b-r">

                            <form class="form-horizontal col-sm-12">
                                <div class="form-group">
                                    <label class="">Status:</label>
                                    <div class="">
                                        <label class="checkbox-inline"> <input type="checkbox" name="status" value="1" checked>Available</label>
                                        <label class="checkbox-inline"> <input type="checkbox" name="status" value="2" checked>On-Hold</label>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="col-sm-3 b-r">

                            <form class="form-horizontal col-sm-12">
                                <div class="form-group">
                                    <label class="">Gender:</label>
                                    <div class="">
                                        <label class="checkbox-inline"> <input type="checkbox" name="gender" value="1" checked> Male </label>
                                        <label class="checkbox-inline"> <input type="checkbox" name="gender" value="2" checked> Female </label>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="col-sm-3 b-r">

                            <form class="form-horizontal col-sm-12">
                                <div class="form-group">
                                    <label class="">Country:</label>
                                    <div class="">
                                        <label class="checkbox-inline"> <input type="checkbox" name="country" value="1" checked> <img src="<%= image_path('flags/16/Latvia.png')%>"> Latvia </label>
                                        <label class="checkbox-inline"> <input type="checkbox" name="country" value="2" checked> <img src="<%= image_path('flags/16/Ukraine.png')%>"> Ukraine </label>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="col-sm-3">

                            <form class="form-horizontal col-sm-12">
                                <div class="form-group">
                                    <label class="">Size:</label>
                                    <div class="">
                                        <label class="checkbox-inline"> <input type="checkbox" name="size" value="1" checked> Single </label>
                                        <label class="checkbox-inline"> <input type="checkbox" name="size" value="2" checked> Sibling Pair </label>
                                        <label class="checkbox-inline"> <input type="checkbox" name="size" value="2" checked> Sibling Group </label>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-3 b-r">

                            <form class="form-horizontal col-sm-12">
                                <div class="form-group">
                                    <label class="">Scholarship:</label>
                                    <div class="">
                                        <label class="checkbox-inline"> <input type="checkbox" name="size" value="1" checked> Yes </label>
                                        <label class="checkbox-inline"> <input type="checkbox" name="size" value="2" checked> No </label>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="col-sm-3 b-r">

                            <form class="form-horizontal col-sm-12">
                                <div class="form-group">
                                    <label class="">Other Option:</label>
                                    <div class="">
                                        <label class="checkbox-inline"> <input type="checkbox" name="size" value="1" checked> Yes </label>
                                        <label class="checkbox-inline"> <input type="checkbox" name="size" value="2" checked> No </label>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="col-sm-3 b-r">

                            <form class="form-horizontal col-sm-12">
                                <div class="form-group">
                                    <label class="">Other Option:</label>
                                    <div class="">
                                        <label class="checkbox-inline"> <input type="checkbox" name="size" value="1" checked> Yes </label>
                                        <label class="checkbox-inline"> <input type="checkbox" name="size" value="2" checked> No </label>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="col-sm-3">

                            <form class="form-horizontal col-sm-12">
                                <div class="form-group">
                                    <label class="">Other Option:</label>
                                    <div class="">
                                        <label class="checkbox-inline"> <input type="checkbox" name="size" value="1" checked> Yes </label>
                                        <label class="checkbox-inline"> <input type="checkbox" name="size" value="2" checked> No </label>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <% @kids.in_groups_of(4) do |row| %>
    <div class="row">

        <% row.each do |child| %>
        <% next if child.nil? %>

        <div class="col-md-3">

            <div class="ibox">
                <div class="ibox-content child-box">

                    <div class="child-detail">
                <%= link_to dashboards_child_path do %>
                        <img src="<%= image_path( child[:img])%>" alt="image" class="img-thumbnail">
                <% end %>
                    </div>
                    <div class="child-desc">
                        <% if child[:status] %>
                            <span class="child-right-flag" style="background: <%= child[:status][:color]%>"><%= child[:status][:text]%></span>
                        <% end %>
                        <% if child[:scholarship] %>
                            <span class="child-left-flag">Scholarship</span>
                        <% end %>
                        <%= link_to child[:name], dashboards_child_path, class: 'child-name' %>
                        <% if child[:country] == 'Ukraine' %>
                        <span class="child-country"><img src="<%= image_path('flags/16/Ukraine.png')%>"> Ukraine</span>
                        <% elsif child[:country] == 'Latvia' %>
                        <span class="child-country"><img src="<%= image_path('flags/16/Latvia.png')%>"> Latvia</span>
                        <% else %>
                        <span class="child-country"><%= child[:country] %></span>
                        <% end %>
                        <div class="small">
                            <%= child[:description] %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% end %>

    </div>

    <% end %>

</div>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {
    $("#ionrange").ionRangeSlider({
        min: 0,
        max: 5000,
        type: 'double',
        prefix: "$",
        maxPostfix: "+",
        prettify: false,
        hasGrid: true
    });

});

<% end %>