<% content_for :page_title, "Details #{@kid[:name]}" %>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1 class="text-center"><%= @kid[:name] %></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center">
                    <div class="row">
                        <div class="col-lg-12" id="large-images">
                            
                            <% @images.each_with_index do |image, index| %>
                            <figure class="figure" id="image-<%= index %>">
                                <a href="<%= image_path( image[:full_size] ) %>"><img class="img-responsive rounded" id="large-image" src="<%= image_path( image[:medium] ) %>"></a>
                                <figcaption class="figure-caption"><%= image[:caption] %></figcaption>
                            </figure>
                            <% end %>

                        </div>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-lg-12">
                            <% @images.each_with_index do |image, index| %>
                            <a class="m-xs" onclick="displayImage(<%= index %>);"><img class="img-thumbnail" src="<%= image_path( image[:thumbnail] ) %>"></a>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <p><strong>Country: </strong><%= @kid[:country] %></p>
                    <p><strong>Gender: </strong><%= @kid[:gender] %></p>
                    <p><strong>Group Size: </strong><%= @kid[:size] %></p>
                    <p><strong>Age Range: </strong><%= @kid[:age_range] %></p>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <p><%= DashboardsController.new.lorem %></p>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Winter 2018 Hosting Session</h3>
                </div>
                <div class="ibox-content">
                    <p><strong>Status: </strong><%= @kid[:status] %></p>
                    <p><strong>Scholarship: </strong><%= @kid[:scholarship] == 0 ? 'No' : "Yes ($#{@kid[:scholarship]})" %></p>
                </div>
            </div>
            
            
        </div>
    </div>


</div>

<% content_for :javascript do %>

<script type="text/javascript">

    $(function() {
        $("#large-images").children().hide();
        $("#image-0").show();
    });
    
    function displayImage(number) {
        $("#large-images").children().hide();
        $("#image-"+number).show();
    };

</script>

<% end %>