<% content_for :page_title, @session.name %>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1><%= @session.name %></h1>
                </div>
            </div>
        </div>
    </div>



    <% @spots.in_groups_of(4) do |row| %>
    <div class="row">

        <% row.each do |spot| %>
        <% next if spot.nil? %>

        <div class="col-md-3">

            <div class="ibox">
                <div class="ibox-content child-box">

                    <div class="child-detail">
                <%= link_to :action => 'child', :id => spot.id do %>
                        <img src="<%= image_path( 'generic.jpg' )%>" alt="image" class="img-thumbnail">
                <% end %>
                    </div>
                    <div class="child-desc">
                        <% if spot.status %>
                            <span class="child-right-flag" style="background: <%= spot.status.color%>"><%= spot.status.name%></span>
                        <% end %>
                        <% if spot.scholarship != 0 %>
                            <span class="child-left-flag">Scholarship</span>
                        <% end %>
                        <%= link_to spot.public_name, {:action => 'child', :id => spot.id}, class: 'child-name' %>
                        <% if spot.country == 'Ukraine' %>
                        <span class="child-country"><img src="<%= image_path('flags/16/Ukraine.png')%>"> Ukraine</span>
                        <% elsif spot.country == 'Latvia' %>
                        <span class="child-country"><img src="<%= image_path('flags/16/Latvia.png')%>"> Latvia</span>
                        <% else %>
                        <span class="child-country"><%= spot.country %></span>
                        <% end %>
                        <div class="small">
                            <%= spot.description&.truncate(128, separator: /\s/) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% end %>

    </div>

    <% end %>

</div>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {
    $("#ionrange").ionRangeSlider({
        min: 0,
        max: 5000,
        type: 'double',
        prefix: "$",
        maxPostfix: "+",
        prettify: false,
        hasGrid: true
    });

});

<% end %>