<% content_for :page_title, "Details #{@spot.public_name}" %>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1 class="text-center"><%= @spot.public_name %></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center">
                    <div class="row">
                        <div class="col-lg-12" id="large-images">
                            

                        </div>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-lg-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <p><strong>Country: </strong><%= @spot.country %></p>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <p><%= @spot.description %></p>
                </div>
            </div>
            <% @spot.children.each do |child| %>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3><%= child.public_name %></h3>
                </div>
                <div class="ibox-content">
                    <p><strong>Age: </strong><%= child.age %></p>
                </div>
            </div>
            <% end %>
            
            
        </div>
    </div>


</div>

<% content_for :javascript do %>

<script type="text/javascript">

    $(function() {
        $("#large-images").children().hide();
        $("#image-0").show();
    });
    
    function displayImage(number) {
        $("#large-images").children().hide();
        $("#image-"+number).show();
    };

</script>

<% end %>