<% content_for :page_title, "Details #{@child.name}" %>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1 class="text-center"><%= @child.name %></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center">
                    <div class="row">
                        <div class="col-lg-12" id="large-images">
                            
                            <% @child.photos.each_with_index do |image, index| %>
                            <figure class="figure" id="image-<%= index %>">
                                <a href="https://s3.amazonaws.com/ohhc-photos/<%= image.key %>.jpg"><img class="img-responsive rounded" id="large-image" src="https://s3.amazonaws.com/ohhc-photos/<%= image.key %>_md.jpg"></a>
                                <figcaption class="figure-caption"><%= image.description %></figcaption>
                            </figure>
                            <% end %>

                        </div>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-lg-12">
                            <% @child.photos.each_with_index do |image, index| %>
                            <a class="m-xs" onclick="displayImage(<%= index %>);"><img class="img-thumbnail" src="https://s3.amazonaws.com/ohhc-photos/<%= image.key %>_tn.jpg"></a>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <p><strong>Country: </strong><%= @child.country %></p>
                    <p><strong>Gender: </strong><%= @child.gender %></p>
                    <p><strong>Group Size: </strong><%= @child.size %></p>
                    <p><strong>Age Range: </strong><%= @child.age_range %></p>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <p><%= @child.notes %></p>
                </div>
            </div>
            <% @child.session_spots.each do |spot| %>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3><%= spot.hosting_session.name %></h3>
                </div>
                <div class="ibox-content">
                    <p><strong>Status: </strong><%= spot.spot_status.name %></p>
                    <p><strong>Scholarship: </strong><%= spot.scholarship == 0 ? 'None' : number_to_currency(spot.scholarship) %></p>
                    <p><strong>Notes: </strong><%= spot.public_notes %></p>
                </div>
            </div>
            <% end %>
            
            
        </div>
    </div>


</div>

<% content_for :javascript do %>

<script type="text/javascript">

    $(function() {
        $("#large-images").children().hide();
        $("#image-0").show();
    });
    
    function displayImage(number) {
        $("#large-images").children().hide();
        $("#image-"+number).show();
    };

</script>

<% end %>